<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employeeBean" class="com.sumit.beans.Employee">
		<property name="empid" value="1958559" />
		<property name="name" value="Sumit" />
		<property name="age" value="22" />
		<property name="acc">
			<bean id="accountBean" class="com.sumit.beans.Account">
				<property name="accountHolderName" value="Sumit Prasad" />
				<property name="accountNumber" value="450011117852" />
				<property name="ifsc" value="ICICI0004500" />
			</bean>
		</property>
	</bean>

</beans>