<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="accountBean" class="com.sumit.beans.Account">
		<property name="accountNumber" value="450011117852" />
		<property name="accountHolderName" value="Sumit Prasad" />
		<property name="accountType" value="Current" />
		<property name="balance" value="5000" />
		<property name="accountHolderEmail" value="sumit" />
		<property name="accountHolderMobile" value="9182982329" />
	</bean>
	
	<bean id="accountPostProcessor" class="com.sumit.processor.AccountPostProcessor" />
</beans>